.contact{
    margin: 80px auto;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-col{
    flex-basis: 48%;
    color: #676767;
}
.contact-col h3{
    color: #1942b2;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    margin-bottom: 20px;
}
.contact-img{
    width: 35px;
    margin-left: 10px;

}

.contact-col p{
    max-width: 500px;
    list-style: 0.3;
    line-height: 1.4;
}
.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.icon{
    margin-right: 10px;
     color: #1942b2;
    
}
input, textarea{
    display: block;
    width: 100%;
    background: #ebecfe;
    padding: 15px;
    border:0;
    outline: 0;
    /* margin-bottom: 15px;
    margin-top: 5px; */
    resize: none;
    margin: 5px 0 15px 0;
}

/* media */

@media (max-width: 800px){
    .contact {
        display: block;
    };
    .contact-col{
        margin-bottom: 20px;

    }
}

