.gallarys{
    text-align: center;
    width: 80%;
    margin: 80px auto;
}
.gallary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallary img{
    width: 23%;
    border-radius: 10px;
}
/* media  */
@media (max-width: 800px){
    .gallary{
        flex-wrap: wrap;
    }
    .gallary img{
        width: 48%;
    }
}